In [8]:
import pandas as pd
df = pd.read_csv('EURUSD_H1.csv')
df

,Local time,Open,High,Low,Close,Volume,BUY
0,05.05.2003 04:00:00.000 GMT+0700,1.12284,1.12338,1.12242,1.12305,29059.0996,NaN
1,05.05.2003 05:00:00.000 GMT+0700,1.12274,1.12302,1.12226,1.12241,26091.8008,0.0
2,05.05.2003 06:00:00.000 GMT+0700,1.12235,1.12235,1.12160,1.12169,29240.9004,0.0
3,05.05.2003 07:00:00.000 GMT+0700,1.12161,1.12314,1.12154,1.12258,29914.8008,0.0
4,05.05.2003 08:00:00.000 GMT+0700,1.12232,1.12262,1.12099,1.12140,28370.6992,1.0
...,...,...,...,...,...,...,...
107515,03.07.2020 23:00:00.000 GMT+0700,1.12430,1.12448,1.12357,1.12416,4070.6300,1.0
107516,04.07.2020 00:00:00.000 GMT+0700,1.12416,1.12447,1.12398,1.12434,6386.3100,0.0
107517,04.07.2020 01:00:00.000 GMT+0700,1.12433,1.12462,1.12407,1.12445,9698.0300,1.0
107518,04.07.2020 02:00:00.000 GMT+0700,1.12445,1.12456,1.12393,1.12445,4599.6000,1.0
107519,04.07.2020 03:00:00.000 GMT+0700,1.12444,1.12518,1.12370,1.12464,18676.7349,0.0